
.nav.nav-tabs.nav-default.navbar-fixed-top {
    background: #2d267a;
}

.nav-tabs {
    border-bottom: 1px solid #2d267a;
}

.nav-tabs a {
    color: #fff;
    text-decoration: none;
    
}

#home{
	background: url(../images/homebgrnd.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	text-align: center;
	padding-top: 220px;

}


#home h1{
	color: #fff;
	font-size: 72px;
	font-weight: 100;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 15px;

}

#home h2{
	color: #fff;
	font-size: 42px;
	font-weight: 100;
	font-size: 42px;

}

#about{
	background: url(../images/balicoast.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	padding-top: 50px;


}

#about .container-fluid{
	margin-bottom: 35px;
}
#about h1{
	text-align: center;
	font-size: 42px;

}

#about article{
	padding: 30px;
	text-align: justify;
	font-size: 18px;
	color: #d6d0d4;
	background: hsla(300, 84%, 9%, 0.52);
}

#about img{
	position: relative;
	width:60%;
	height: auto;
	padding-left: 100px;
}

#services {
	padding-top: 50px;

}
#services h1{
	text-align: center;
	font-size: 42px;

}

#services .col-sm-6{
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 30px;
	text-align: justify;
	font-size: 18px;
}

#services img{
	width: 80%;
	height: auto;

}


#skills {
	background: url(../images/bali3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	padding-top: 50px;
}

#skills h1{
	text-align: center;
	font-size: 42px;
}

#skills article{
	padding: 30px;
	text-align: justify;
	font-size: 16px;
	color: #d6d0d4;
	background: hsla(300, 84%, 9%, 0.52);

}

#skills img{
	width: 60%;
	height: auto;
	padding-left: 100px;

}

#contact {
	background: #c6b6c1;
	height: 420px;
	padding-top: 50px;
}


#contact h1{
	text-align: center;
	font-size: 42px;

}

#contact .col-sm-4{
	padding-left: 80px;
	text-align: justify;
	font-size: 18px;
}

#footer {
    background: #928c90;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#footer h4 {
    color: white;
}