
body{
	font-family: 'Lato', sans-serif;
}

#home{
	background: url(../images/homebg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;

}
#home .container{
	padding: 200px 0;
	
}

#home h1{
	color: #fff;
	font-size: 72px;
	font-weight: 100;

	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 15px;

}

#home h4{
	color: #fff;
	font-weight: 100;
	font-size: 24px;

}

#home i{
	font-size: 40px;
	color: #fff;
}

#home .learn-more {
    color: #fff;
    position: absolute;
    font-size: 30px;
}

#home .learn-more .fa {
    position: absolute;
}

#home .learn-more .second-arrow {
    top: 8px;
}

#home .learn-more .third-arrow {
    top: 16px;
}


#about {
	background: url(../images/aboutbg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 440px;
	padding-top: 150px;
}

#about .container {
	color: #fff;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	width: 850px;

}

#about.vertical-align {
	position: relative;
	top: 50%
}

#about hr {
	width: 80px;
}

#services {
	padding: 50px 0;
}

#services .container {
	color: purple;
}


.service-item {
    margin-bottom: 40px;
}

.service-item i {
    font-size: 48px;
    color: #c1c1c1;
    float: left;
    border-right: 1px solid #873fb5;
    padding-right: 20px;
}

.service-title {
    margin-top: -20px;
    margin-left: 20px;
    display: inline-block;
}

.service-title h3 {
    color: #111111;
    font-weight: 900;
}

.service-title h4 {
    color: #873fb5;
    margin-top: -10px;
    font-weight: 300;
}

#skills {
    background: url(../images/girlhair.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: cover;
    color: #fff;
}

#skills .content {
	height: 330px;
}

#skills .content h2 {
    font-size: 48px;
}

#skills .content h3 {
    font-weight: 300;
    margin-top: 0px;
}

#skills .content p {
    margin: 40px 0;
}

#skills .button {
    color: #fff;
    font-size: 16px;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}

#skills .button:last-child {
    color: purple;
    font-size: 16px;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    margin-left: 25px;
}



#skills .progress-bars h5 {
    font-weight: 900;
 
}

#skills .progress {
    height: 30px;
    margin-bottom: 30px;
    opacity: .78;
    background-color: #000;
    border-radius: 4px;
    box-shadow: none;
    
}

#skills .progress-bar {
	background-image: #9c27bc;
	padding: none;
	width: 555px;
}

#portfolio .container {
    width: 1340px;
}


#portfolio .row{
	padding: 100px 100px 0 100px;
	text-align: center;
	color: purple;
}
#portfolio .col-md-4 {
	padding: 0px;
}

#portfolio .thumb {
	max-width: 380px;
	height: 270px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#portfolio .thumb img {
	height: 100%;
	width: 100%;
}

